@import "tailwindcss";

@theme {
    /* Colores */
    --color-brand-primary: #7eb6ff;
    --color-brand-accent: #f27059;
    --color-brand-cream: #f9f9f9;
    --color-brand-dark: #2d1f1a;

    /* Para que Tailwind genere la clase 'bg-hero-gradient' */
    --background-image-hero-gradient: linear-gradient(
        135deg,
        #38bdf8 0%,
        #7eb6ff 50%,
        #fde68a 100%
    );
}

:root {
    --background: var(--color-brand-cream);
    --foreground: var(--color-brand-dark);
}
